@charset "utf-8";

/* body----------------------------------------------- */
body {
	width: 100%;
    background: none repeat scroll 0 0 #fff;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-color: #24273a;
    line-height: 1.4;
}
/* container------------------------------------------ */
div#emoji {
    width: 85%;
    margin: 0 auto;
}

table {
	width: 100%;
	margin-top: 5%;
}

img {
    width: 25%;
}

td {
    border-collapse: collapse;
    padding: 20px;
	text-align: center;
	background: rgba(170, 173, 206, 0.61);
	border: 2px solid #FFF;
}

button#button {
    width: 100%;
	padding: 10px;
}

input {
    width: 90%;
	margin-bottom: 10px;
}