@charset "utf-8";

@media only screen and (max-width: 640px) {

/* SUBTITLE
----------------------------------------------- */
h1.column_title{
	font-size: 110%;
}
@media only screen and (max-width: 479px) {
h1.column_title{
	font-size: 11px;
}
}
div.column h1{
	font-size: 110%;
}
div.img_column h1{
	font-size: 110%;
}
/* IMG_COLUMN
----------------------------------------------- */
div.img_column{
	overflow: initial;
}

/* COLUUMN_FIELD
----------------------------------------------- */
.column_field{
	margin-left: 5px;
}
/* IMG
----------------------------------------------- */
div.column_field_img {
	width: 100%;
    padding: 5px 5px 10px 0;
    padding-left: 0px;
    margin-right: 0px;
    text-align: center;
}
/* BORDER
----------------------------------------------- */
div.column_caption{
	border-right: none;
	border-left: none;
}
div.column{
	border-right: none;
	border-left: none;
}
div.img_column{
	border-right: none;
	border-left: none;
}